ion-list {
    margin: 10px;
  }
  
  ion-item {
    background: #f4f4f4;
    margin-bottom: 8px;
    border-radius: 8px;
  }
  
  ion-label h2 {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  ion-label p {
    font-size: 1em;
    color: #555;
  }