<ion-content [fullscreen]="true">

  <ion-button size="large" id="boton_volver" shape="round" (click)="Clicker()">
    <ion-icon slot="icon-only" name="caret-back-circle-outline"></ion-icon>
  </ion-button>


<ion-row>

  <ion-grid id="tabla1">
    <h1 class="titulo"> 🏆 Leaderboard Clicks </h1>
  
    <ion-row *ngFor="let usuario of usuarios; let i = index">
      <ion-col>
        <p class="texto"> {{ usuario.username }}</p>
      </ion-col>
     
      <ion-col>
        <p class="texto"> {{ usuario.cantidad_clicks}}</p>
      </ion-col>  
    </ion-row>
  </ion-grid>

  <ion-grid id="tabla2">
    <h1 class="titulo"> 🏆 Leaderboard Dinero </h1>
  
    <ion-row *ngFor="let usuario2 of usuarios2; let i = index">
   
     <ion-col>
       <p class="texto"> {{ usuario2.username }}</p>
     </ion-col>
   
     <ion-col>
       <p class="texto"> {{ usuario2.dinero }}</p>
     </ion-col>
   </ion-row>
  </ion-grid>
</ion-row>

  </ion-content>