<ion-content [fullscreen]="true">

  <ion-header>
    <ion-toolbar>
      <ion-title>Leaderboard</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>
              <p> # </p>
              <h2> Name </h2>
              <p> Clicks totales realizados: </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col>
      <ion-list>
        <ion-item>
          <ion-label>
            <p> #</p>
            <h2> Name </h2>
            <p> Cantidad dinero total generada: </p>
          </ion-label>
        </ion-item>
      </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  </ion-content>