#boton_volver::part(native) {
  background-color: #e6c681;
  border-radius: 30px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  color: black;
}

#boton_volver:hover {
    transform: scale(1.1);
  }

ion-content {
    --background:none;
    background-image: url('../../assets/fondo.jpg');
    height: 100%;
    background-size: cover;
  }