<ion-content [fullscreen]="true">


    <ion-button size="large" id="boton_volver" shape="round" (click)="Clicker()">
      <ion-icon slot="icon-only" name="caret-back-circle-outline"></ion-icon>
    </ion-button>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>
              <p> Username: {{ user_data.username }} </p>

              <p> Nivel Mejora "XXX": </p>
              
              <p> Nivel Mejora "XXX": </p>
              
              <p> Dinero: {{ user_data.dinero }} </p>
            
              <p> Clicks totales realizados: {{ user_data.cantidad_clicks }} </p>
              
              <p> Cantidad de dinero total generada: {{ user_data.cantidad_generada }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
