<ion-content [fullscreen]="true">


<ion-button size="large" id="boton_volver" shape="round" (click)="Clicker()">
  <ion-icon slot="icon-only" name="caret-back-circle-outline"></ion-icon>
</ion-button>

<div class="fondo-perfil">
  <ion-grid>
    <img src="{{ user_info.profile }}" alt="Perfil" class="imagen-perfil">
    <div class="nombre-perfil"> {{ user_info.username }}</div>
  </ion-grid>

  <ion-grid>
    <div class="stat">
      <div class="numero-stat"> {{ user_info.dinero }} </div>
      <div class="texto-stat"> Dinero  </div>
    </div>
  </ion-grid>

  <ion-grid>
    <div class="stat">
      <div class="numero-stat"> {{ user_info.cantidad_clicks }} </div>
      <div class="texto-stat"> Clicks Totales  </div>
    </div>
  </ion-grid>

  <ion-grid>
    <div class="stat">
      <div class="numero-stat"> {{ user_info.upgrade1 }} </div>
      <div class="texto-stat"> Nivel Mejora N. 1  </div>
    </div>
  </ion-grid>

  <ion-grid>
    <div class="stat">
      <div class="numero-stat"> {{ user_info.upgrade2 }} </div>
      <div class="texto-stat"> Nivel Mejora N. 2  </div>
    </div>
  </ion-grid>
</div>

</ion-content>
