<ion-content [fullscreen]="true">


    <ion-button size="large" id="boton_volver" shape="round" (click)="Clicker()">
      <ion-icon slot="icon-only" name="caret-back-circle-outline"></ion-icon>
    </ion-button>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label>
              <p> Username: {{ user_info.username }} </p>

              <p> Dinero: {{user_info.dinero}} </p>
            
              <p> Clicks totales realizados: {{user_info.cantidad_clicks}} </p>

              <p> Nivel de Mejora 1: {{ user_info.upgrade1 }} </p>
              
              <p> Nivel Mejora 2: {{user_info.upgrade2 }} </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  
</ion-content>
