<ion-content [fullscreen]="true">

  <ion-button size="large" id="boton_volver" shape="round" (click)="Clicker()">
    <ion-icon slot="icon-only" name="caret-back-circle-outline"></ion-icon>
  </ion-button>

  <h3> Cooldown Upgrade </h3>
  <ion-button (click)="mejorarCooldown()"> Mejorar </ion-button>
  <ion-progress-bar value="0"></ion-progress-bar>

  <h3> Dinero Upgrade </h3>
  <ion-button (click)="mejorarDinero()"> Mejorar </ion-button>
  <ion-progress-bar value="0"></ion-progress-bar>

</ion-content>
