<ion-content [fullscreen]="true">

  <ion-button size="large" id="boton_volver" shape="round" (click)="Clicker()">
    <ion-icon slot="icon-only" name="caret-back-circle-outline"></ion-icon>
  </ion-button>

  <h3 class="TextoPrecio"> Cooldown Upgrade | Coste: {{ CosteCooldown }} </h3>
  <ion-progress-bar id="barraCooldown" [value]="progresoCooldown"></ion-progress-bar>
  <ion-button class="botonesCSS" (click)="mejorarCooldown()"> Mejorar </ion-button>

  <h3 class="TextoPrecio" > Dinero Upgrade | Coste: {{ CosteDinero }} </h3>
  <ion-progress-bar id="barraDinero" [value]="progresoDinero"></ion-progress-bar>
  <ion-button class="botonesCSS" (click)="mejorarDinero()"> Mejorar </ion-button>

</ion-content>
