<ion-content [fullscreen]="true" id="main_content">


<ion-grid>

    <ion-row>

        <ion-col>
          Foto: <img src={{user.picture}}>
        </ion-col>

        <ion-col>
            Usuario: {{user.nickname}} 
        </ion-col>

        <ion-col>
            Monedas: {{user.dinero}}
        </ion-col>

        <ion-col>
            Clicks Realizados: {{user.cantidad_clicks}}
        </ion-col>
    </ion-row>
    
            <ion-grid>
                <ion-button id="boton_desplegable">
                    Mostrar más
                  </ion-button>

                  <ion-popover trigger="boton_desplegable" dismissOnSelect="true">
                    <ng-template>
                      <ion-list>
                        <ion-button class="botones_navegar" color="mycustomcolor" expand="block" (click)="Profile()"> Ir al perfil </ion-button>
                        <ion-button class="botones_navegar" expand="block" (click)="Leaderboard()"> Leaderboard </ion-button>
                        <ion-button class="botones_navegar" expand="block" (click)="Upgrades()"> Upgrades </ion-button>
                        <ion-button class="botones_navegar" expand="block" (click)="Exit()"> Exit </ion-button>
                      </ion-list>
                    </ng-template>
                  </ion-popover>
            </ion-grid>

    <ion-img 
    id="boton_clicker" 
    [disabled]="isCooldown" 
    (click)="Clicker()" 
    (click)="CooldownImagen()"
    (click)="updateDinero()"
    (click)="updateClicks()"
    src="../../assets/Galleta.png"
    [class.cooldown]="isCooldown"
    [class.disabled]="isCooldown">
    </ion-img>

</ion-grid>
</ion-content>
