<ion-content [fullscreen]="true" id="main_content">

  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button shape="round">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button>
        <ion-icon name="person-circle-outline" (click)="Profile()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="podium-outline" (click)="Leaderboard()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="storefront-outline" (click)="Upgrades()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="exit-outline" (click)="Exit()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="tennisball-outline" (click)="Login()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

<ion-grid>

    <ion-img 
    id="boton_clicker" 
    [disabled]="isCooldown" 
    (click)="Clicker()" 
    (click)="CooldownImagen()"
    (click)="updateDinero()"
    (click)="updateClicks()"
    src="../../assets/Galleta.png"
    [class.cooldown]="isCooldown"
    [class.disabled]="isCooldown">
    </ion-img>
  
    <ion-row>
      <ion-img id="monedas" src="../../assets/Moneda.png"></ion-img><p id="textoDinero"> {{ usuarios.dinero }}</p>
      <p id="textoClicks"> {{ usuarios.cantidad_clicks }}</p><ion-img id="clicks_hechos" src="../../assets/clicks.png"></ion-img>
    </ion-row>

</ion-grid>
</ion-content>
