$colors: (
  primary: #3880ff,
  secondary: #3dc2ff,
  danger: #f04141,
  success: #10dc60,
  warning: #ffce00,
  dark: #222428,
  light: #f4f5f8,

  // Tu color personalizado
  mycustomcolor: #ff5733
);

// CSS Botones de transporte para ir entre las paginas.

.botones_navegar {
    background: #ff5733;
    color: #ffffff; /* Texto en blanco */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: 600; /* Peso de la fuente */
    border-radius: 8px; /* Bordes redondeados */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cursor de mano */
    transition: all 0.3s ease; /* Transición suave */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
};

.botones_navegar:focus{
    outline: 2px solid #80bdff; /* Resaltado con borde */
    outline-offset: 2px;
};

.botones_navegar:hover {
    background-color: #0056b3; /* Azul más oscuro */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
};

.botones_navegar.outline {
    background-color: transparent;
    color: #007BFF;
    border: 2px solid #007BFF;
};

.botones_navegar.outline:hover {
    background-color: #007BFF;
    color: #ffffff;
};

.botones_navegar.secondary {
    background-color: #6c757d; /* Gris */
    color: #ffffff;
};
  
.botones_navegar.secondary:hover {
    background-color: #5a6268; /* Gris más oscuro */
};

// CSS Galleta + Cooldown

#boton_clicker {
    display: block;
    margin: 0 auto;
    width: 35%;
    max-width: 100%;
    height: 35%;
    max-width: 100%;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    position: relative;

};

#boton_clicker:hover{
    transform: scale(1.1);
};

#boton_clicker:active {
    transform: scale(0.95);
};

#boton_clicker {
    animation: float 2s infinite;
};

ion-img {
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  
    &.cooldown {
      opacity: 0.5;
      pointer-events: none; // Desactiva la interacción.
      cursor: not-allowed;
    }
  
    &.disabled {
      filter: grayscale(100%); // Ejemplo visual para desactivar.
    }
  }