// CSS Botones para viajar entre las paginas.
.botones_transporte {
    display: inline-block;
    color: #fff;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3), inset 0px -2px 4px rgba(255, 255, 255, 0.5);
    transition: background 0.3s ease;
}

.botones_transporte:hover{
    background: #2980b9;
}

#botones_transporte:active {
    background-color: #2980b9;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.5);
    transform: scale(0.95);
}

// CSS DESPLEGAR BOTONES

.button-container {
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}
  
.button-container[hidden] {
    max-height: 0;
}


// CSS Boton CLicker

#boton_clicker {
    background: #f39c12;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3), inset 0px -2px 4px rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease-in-out;
    position: relative;

}

#boton_clicker:hover{
    background-color: #e67e22;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4), inset 0px -4px 6px rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
}

#boton_clicker:active {
    background-color: #d35400;
    box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.5);
    transform: scale(0.95);
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

#boton_clicker {
    animation: float 2s infinite;
}